<section class="copyright">&copy; Copyright 2018. <em>All rights reserved</em>.</section>

<section class="photo-credit">Photo by <a href="https://unsplash.com/photos/ipARHaxETRk?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Kobu Agency</a> on <a href="https://unsplash.com/search/photos/code?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></section>
