<!DOCTYPE html>
<html lang="en">

<head><% include partials/head %></head>

<body>

	<header><% include partials/header %></header>


	<main>

		<section>

			<h2 id="msg">404</h2>

			<p>Looks like you got more Todo. <a href="/">Click here</a> to go back to your list.</p>

		</section>

	</main>


	<footer><% include partials/footer %></footer>

	<footer><% include partials/scripts %></footer>

</body>
</html>
