<!DOCTYPE html>
<html lang="en">

<head><% include partials/head %></head>

<body>

	<header><% include partials/header %></header>


	<main>

		<section>

			<h2 id="msg">What would you like Todo?</h2>

			<form id="frmTodo">
				<input type="text" name="text" id="todo" class="form-control">
				<button type="submit" name="btnSubmit">Add a Todo</button>
			</form>

		</section>

		<ul id="todoList"><!-- Todos here... --></ul>

	</main>


	<footer><% include partials/footer %></footer>

	<footer><% include partials/scripts %></footer>

</body>
</html>
